#map {
    width: 100%;
    height: 97vh;
}

.leaflet-popup  .leaflet-zoom-animated {
    left: -105px;
}

.leaflet-popup-content {
    width: 210px;
}

.leaflet-control {
    touch-action: manipulation;
}